.navegacion{
    font-family: Arial, Helvetica, sans-serif;
    background-color:red;
    padding: 10px;  
    display: flex;
    justify-content: space-between; 
    border-radius:10px
}
.navegacion h3{
    color: beige;
    font-family: 'Courier New', Courier, monospace;
    order: 1;
}
.navegacion ul{
    order: 2;
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.navegacion li{
    list-style: none;
    align-self: center;

}
.navegacion a{
    color: beige;
    text-decoration: none;
    transition-duration: 0.5s;
    margin: 10px;
}
.navegacion a:hover{
    background: beige;
    color: black;
}

.navegacion input{
    margin: 20px;
    order: 3;
}