body {
    background-image: url("https://www.arpaindustriale.com/sites/default/files/decors_fiches_default/new/0536_r.jpg");
}

.cabeza{

}

.navegacion{

}

.contenido{

}

.pie{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}