.cabeza {
    background-color: #FFD700;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 15px;

}

.navegacion{
    background-color: #FFF665;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    padding-bottom: 75px;
    width: 20%;

}
.navegacion h2 {
    text-align: left;
    margin-left: 40px;

}

.links :hover{
    color: red;

}

.links {
    list-style-type: none;
    
}

.contenido{
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    width: 70%;
    padding-left: 50px;

}

.pie {
    background-color:red;
    font-size: 20px;
    text-align: center ;
    clear: both ;
    padding: 10px;
    color: white;

}