.viajes{
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    padding: 10px;
}
.articulo{
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 15px black;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
}
.articulo img{
    height: 450px;
    width: 100%;
}
.articulo:hover {
    transform: scale(1.05);
    transition-duration: 0s;
}